h1 {
  font-family: Lato; font-size: 30pt;
}

h2 {
  font-family: Lato; font-size: 15pt;
}

.negrita{
  font-weight: bold;
}

.tit{
  font-weight: bold;
}

#viz1,#viz2,#viz3{
  width: 80%;
  height: 300px;
  }